# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env
.venv/
env/
venv/
ENV/
*.manifest
*.spec

# Arquivos de Configuração Local do Usuário (não versionar)
config.json
*.local.json

# Arquivos de mídia e diretórios de processamento pesado
DCIM/
fotos_cortadas_4k/
*.mp4
*.mkv
*.mov
*.avi
*.JPG
*.jpg
*.JPEG
*.jpeg
*.png
*.PNG
*.raw
*.CR2
*.NEF
*.ARW

# IDEs e Sistema Operacional
.vscode/
.idea/
.DS_Store
Thumbs.db
tempCodeRunnerFile.py
